body {
    background: #fff;
    font-family: "Josefin Sans", arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    color: #6c757d;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.top-bar {
    background: #000;
    padding: 10px 0;
}

    .top-bar .social a, .top-bar .search-icon a {
        color: #fff;
        opacity: .5;
        padding: 5px;
    }

        .top-bar .social a:hover, .top-bar .search-icon a:hover {
            opacity: 1;
        }

    .top-bar .social {
        text-align: left;
    }

    .top-bar .search-icon {
        text-align: right;
    }

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    font-weight: 400;
    background: #fff !important;
}

.search-top .search-top-form {
    position: relative;
    float: right;
}

.search-top .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    color: #fff;
}

.search-top input {
    color: #fff;
    background: #212121;
    width: inherit;
    min-width: 300px;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "Josefin Sans", arial, sans-serif;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent !important;
}

@media (max-width: 767.98px) {
   .navbar {
    background: #e6e6e6 !important;
  }
}

.navbar .navbar-nav.absolute-right {
  position: absolute;
  right: 0;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav.absolute-right {
    position: relative;
    right: inherit;
  }
}

.navbar .nav-link {
  padding: 1.7rem 1rem;
  font-size: 13px;
  outline: none !important;
  text-transform: uppercase;
  letter-spacing: .05em;
}

@media (max-width: 991.98px) {
  .navbar .nav-link {
    padding: 1.7rem 1rem;
  }
}

@media (max-width: 767.98px) {
  .navbar .nav-link {
    padding: .5rem 0;
  }
}

.navbar .dropdown-menu {
    font-size: 14px;
  border-radius: 0;
  border: none;
    -webkit-box-shadow: 0 2px 30px 0 #000000;
    -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0 #000000;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

.navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  .navbar .dropdown-menu:before {
    display: none;
  }
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: #007bff;
  color: #fff;
}

.navbar .dropdown-menu .dropdown-item.active {
  background: #007bff;
  color: #fff;
}

.navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.absolute-toggle {
  position: absolute;
  left: 15px;
  top: 5px;
}

.absolute-toggle .burger-lines {
  width: 30px;
  display: inline-block;
  height: 2px;
  background: #000;
  position: relative;
}

.absolute-toggle .burger-lines:before, .absolute-toggle .burger-lines:after {
  position: absolute;
  height: 2px;
  content: "";
  background: #000;
  width: 100%;
  left: 0;
}

.absolute-toggle .burger-lines:before {
  top: -10px;
}

.absolute-toggle .burger-lines:after {
  bottom: -10px;
}

.site-logo a {
  color: #000;
  font-size: 90px;
    text-decoration: none;
}

    .site-logo a .active {
        color: #000;
        text-decoration: none;
    }

@media (max-width: 991.98px) {
  .site-logo a {
    font-size: 40px;
  }
}
.site-logo-link {
    color: #000;
}

.site-logo-link :hover {
    text-decoration: none;
}

.site-section {
    padding: 7em 0;
}

.category {
    display: inline-block;
    background: #007bff;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 10px;
}

.a-block {
    display: block;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    position: relative;
    margin-bottom: 30px;
    height: 300px;
}

.a-block.height-lg {
    height: 500px;
}

.a-block.height-md {
    height: 400px;
}

.a-block:before {
    background: #000;
    position: absolute;
    content: "";
    z-index: 1;
    opacity: .3;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.a-block .text {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.a-block .text.half-to-full {
    max-width: 50%;
}

@media (max-width: 767.98px) {
    .a-block .text.half-to-full {
        max-width: 100%;
    }
}

.a-block .text .post-meta {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 10px;
    margin-bottom: 30px;
}

.a-block .text h3 {
    color: #fff;
    border: 1px solid red;
}

.a-block .text p {
    color: #fff;
}

.a-block:hover:before {
    opacity: .4;
}

.blog-entries .blog-entry {
    display: block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-bottom: 30px;
}

.blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
    opacity: .7;
}

.blog-entries .blog-entry .blog-content-body {
    padding: 20px;
    border: 1px solid #efefef;
    border-top: none;
}

.blog-entries .blog-entry img {
    max-width: 100%;
}

.blog-entries .blog-entry h2 {
    font-size: 18px;
    line-height: 1.5;
}

.blog-entries .blog-entry p {
    font-size: 13px;
    color: gray;
}

.blog-entries .post-meta {
    margin-bottom: 20px;
    color: #b3b3b3;
}

.pagination {
    margin-bottom: 5em;
    text-align: center !important;
    display: block;
}

.pagination li {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

    .pagination li a {
        border-radius: 50% !important;
        width: 60px;
        height: 60px;
        line-height: 60px;
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center;
        color: #007bff;
    }

.pagination li a:hover {
    background: #007bff;
    color: #fff;
    border: 1px solid transparent;
}

.sidebar {
    padding-left: 5em;
}

@media (max-width: 991.98px) {
    .sidebar {
        padding-left: 15px;
    }
}

.sidebar-box {
    margin-bottom: 4em;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
}

.sidebar-box *:last-child {
    margin-bottom: 0;
}

.sidebar-box .heading {
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-form-wrap {
    margin-bottom: 5em;
    display: block;
}

.search-form .form-group {
    position: relative;
}

.search-form .form-group #s {
    padding-right: 50px;
    background: #f7f7f7;
    padding: 15px 15px;
    border: none;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bio {
    padding: 15px;
    background: #fff;
    border: 1px solid #e6e6e6;
    font-weight: 400;
}

.bio img {
    max-width: 100px;
    margin-top: -4em;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
}

.bio h2 {
    font-size: 20px;
}

.bio .bio-body .social a {
    color: #000;
}

.post-entry-sidebar .post-meta {
    font-size: 14px;
    color: #b3b3b3;
}

.post-entry-sidebar ul {
    padding: 0;
    margin: 0;
}

.post-entry-sidebar ul li {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
    display: table;
}

.post-entry-sidebar ul li a img {
    width: 90px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
    display: table-cell;
    vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
    font-size: 18px;
}

.tags {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.tags li {
    padding: 0;
    margin: 0 4px 4px 0;
    float: left;
    display: inline-block;
}

.tags li a {
    float: left;
    display: block;
    border-radius: 4px;
    padding: 2px 6px;
    color: gray;
    background: #f2f2f2;
}

.tags li a:hover {
    color: #fff;
    background: #007bff;
}

.site-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5em 0;
    background: #000;
}

.site-footer .post-entry-sidebar ul li a h4 {
    color: #fff;
}

.site-footer .footer-social li a > span {
    width: 30px;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    opacity: .5;
}

.site-footer h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.site-footer p {
    color: rgba(255, 255, 255, 0.5);
}

.blog-entry-footer .post-meta {
    color: white;
    font-size: 15px;
}

.border-t {
    border-top: 1px solid #f8f9fa;
}

.copyright {
    font-size: 14px;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 20px;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
    color: #000;
    background: #e3e3e3;
}

