<h1 class="mb-4">@PostHeadline</h1>
<div class="post-meta">
    <span class="category">@Category</span>
    <span class="mr-2">@PostedDate </span> &bullet;
    <span class="ml-2"><span class="fa fa-comments"></span> @CommentCount</span>
</div>
